html,
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
a:hover,
a:focus {
  text-decoration: underline;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.fixed {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  width: 80%;
}
.d-flex {
  display: flex;
}
.v-center {
  align-items: center;
}
.ml-auto {
  margin-left: auto;
}
.items-center {
  justify-content: center;
}
.text-center {
  text-align: center;
}
.global-head {
  transition: all 300ms;
}
.global-head input,
.global-head button {
  border: 0;
  border-radius: 2px;
  font-size: 0.9rem;
  line-height: 2rem;
  padding: 0 10px;
  transition: all 300ms;
}
.global-head input:focus,
.global-head button:focus {
  outline: none;
}
.global-head input {
  margin-right: 10px;
  width: 70px;
}
.global-head button {
  cursor: pointer;
}
footer {
  font-size: 0.8rem;
  transition: all 300ms;
}
.weather-app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  transition: all 300ms;
}
.app-body {
  flex: 1;
}
.app-body .fa {
  font-size: 4.5rem;
}
.app-body-content {
  align-items: baseline;
}
.app-body-content .wi {
  font-size: 4rem;
  margin-right: 15px;
}
.app-body-content h3 {
  font-size: 2rem;
  margin: 0;
}
.temp-unknown {
  background-color: #5a5a5f;
  color: #eef;
}
.temp-unknown .global-head {
  background-color: #48484c;
}
.temp-unknown .global-head input,
.temp-unknown .global-head button {
  background-color: #5a5a5f;
  color: #eef;
}
.temp-unknown .global-head input:focus,
.temp-unknown .global-head button:focus {
  box-shadow: 0 0 0 4px #626267;
}
.temp-unknown .global-head input:focus {
  background-color: #fff;
  color: #444;
}
.temp-unknown .global-head button:hover {
  background-color: #7a7a80;
}
.temp-unknown footer {
  color: #b3b3bf;
}
.temp-unknown a {
  color: #9797a1;
}
.temp-unknown a:hover {
  color: #fff;
}
.temp-extreme-hot {
  background-color: #610;
  color: #fee;
}
.temp-extreme-hot .global-head {
  background-color: #520e00;
}
.temp-extreme-hot .global-head input,
.temp-extreme-hot .global-head button {
  background-color: #610;
  color: #fee;
}
.temp-extreme-hot .global-head input:focus,
.temp-extreme-hot .global-head button:focus {
  box-shadow: 0 0 0 4px #7a1400;
}
.temp-extreme-hot .global-head input:focus {
  background-color: #fff;
  color: #444;
}
.temp-extreme-hot .global-head button:hover {
  background-color: #b81f00;
}
.temp-extreme-hot footer {
  color: #c2968f;
}
.temp-extreme-hot a {
  color: #c2817a;
}
.temp-extreme-hot a:hover {
  color: #fff;
}
.temp-very-hot {
  background-color: #a32;
  color: #fee;
}
.temp-very-hot .global-head {
  background-color: #88291b;
}
.temp-very-hot .global-head input,
.temp-very-hot .global-head button {
  background-color: #a32;
  color: #fee;
}
.temp-very-hot .global-head input:focus,
.temp-very-hot .global-head button:focus {
  box-shadow: 0 0 0 4px #b73725;
}
.temp-very-hot .global-head input:focus {
  background-color: #fff;
  color: #444;
}
.temp-very-hot .global-head button:hover {
  background-color: #d64733;
}
.temp-very-hot footer {
  color: #dda39c;
}
.temp-very-hot a {
  color: #dd8f88;
}
.temp-very-hot a:hover {
  color: #fff;
}
.temp-hot {
  background-color: #b42;
  color: #ffe;
}
.temp-hot .global-head {
  background-color: #96361b;
}
.temp-hot .global-head input,
.temp-hot .global-head button {
  background-color: #b42;
  color: #ffe;
}
.temp-hot .global-head input:focus,
.temp-hot .global-head button:focus {
  box-shadow: 0 0 0 4px #c74824;
}
.temp-hot .global-head input:focus {
  background-color: #fff;
  color: #444;
}
.temp-hot .global-head button:hover {
  background-color: #db5f3b;
}
.temp-hot footer {
  color: #e4b49c;
}
.temp-hot a {
  color: #e4aa88;
}
.temp-hot a:hover {
  color: #fff;
}
.temp-warm {
  background-color: #e73;
  color: #ffe;
}
.temp-warm .global-head {
  background-color: #d55912;
}
.temp-warm .global-head input,
.temp-warm .global-head button {
  background-color: #e73;
  color: #ffe;
}
.temp-warm .global-head input:focus,
.temp-warm .global-head button:focus {
  box-shadow: 0 0 0 4px #ef7e3d;
}
.temp-warm .global-head input:focus {
  background-color: #fff;
  color: #444;
}
.temp-warm .global-head button:hover {
  background-color: #f1925c;
}
.temp-warm footer {
  color: #f8c9a3;
}
.temp-warm a {
  color: #f8be99;
}
.temp-warm a:hover {
  color: #fff;
}
.temp-med {
  background-color: #ac4;
  color: #efe;
}
.temp-med .global-head {
  background-color: #8cab2f;
}
.temp-med .global-head input,
.temp-med .global-head button {
  background-color: #ac4;
  color: #efe;
}
.temp-med .global-head input:focus,
.temp-med .global-head button:focus {
  box-shadow: 0 0 0 4px #aecf4d;
}
.temp-med .global-head input:focus {
  background-color: #fff;
  color: #444;
}
.temp-med .global-head button:hover {
  background-color: #bbd669;
}
.temp-med footer {
  color: #d3ebaa;
}
.temp-med a {
  color: #d3eba0;
}
.temp-med a:hover {
  color: #fff;
}
.temp-cool {
  background-color: #8cd;
  color: #eff;
}
.temp-cool .global-head {
  background-color: #50b4cd;
}
.temp-cool .global-head input,
.temp-cool .global-head button {
  background-color: #8cd;
  color: #eff;
}
.temp-cool .global-head input:focus,
.temp-cool .global-head button:focus {
  box-shadow: 0 0 0 4px #8ecfdf;
}
.temp-cool .global-head input:focus {
  background-color: #fff;
  color: #444;
}
.temp-cool .global-head button:hover {
  background-color: #a0d6e4;
}
.temp-cool footer {
  color: #c5ebf1;
}
.temp-cool a {
  color: #bbe0f1;
}
.temp-cool a:hover {
  color: #fff;
}
.temp-cold {
  background-color: #3af;
  color: #eef;
}
.temp-cold .global-head {
  background-color: #008ff5;
}
.temp-cold .global-head input,
.temp-cold .global-head button {
  background-color: #3af;
  color: #eef;
}
.temp-cold .global-head input:focus,
.temp-cold .global-head button:focus {
  box-shadow: 0 0 0 4px #3daeff;
}
.temp-cold .global-head input:focus {
  background-color: #fff;
  color: #444;
}
.temp-cold .global-head button:hover {
  background-color: #5cbbff;
}
.temp-cold footer {
  color: #a3d3ff;
}
.temp-cold a {
  color: #99c9ff;
}
.temp-cold a:hover {
  color: #fff;
}
.temp-very-cold {
  background-color: #26b;
  color: #eef;
}
.temp-very-cold .global-head {
  background-color: #1b5296;
}
.temp-very-cold .global-head input,
.temp-very-cold .global-head button {
  background-color: #26b;
  color: #eef;
}
.temp-very-cold .global-head input:focus,
.temp-very-cold .global-head button:focus {
  box-shadow: 0 0 0 4px #246dc7;
}
.temp-very-cold .global-head input:focus {
  background-color: #fff;
  color: #444;
}
.temp-very-cold .global-head button:hover {
  background-color: #3b83db;
}
.temp-very-cold footer {
  color: #9cb8e4;
}
.temp-very-cold a {
  color: #92ade4;
}
.temp-very-cold a:hover {
  color: #fff;
}
.temp-very-very-cold {
  background-color: #64c;
  color: #eef;
}
.temp-very-very-cold .global-head {
  background-color: #4e2fab;
}
.temp-very-very-cold .global-head input,
.temp-very-very-cold .global-head button {
  background-color: #64c;
  color: #eef;
}
.temp-very-very-cold .global-head input:focus,
.temp-very-very-cold .global-head button:focus {
  box-shadow: 0 0 0 4px #6e4dcf;
}
.temp-very-very-cold .global-head input:focus {
  background-color: #fff;
  color: #444;
}
.temp-very-very-cold .global-head button:hover {
  background-color: #8569d6;
}
.temp-very-very-cold footer {
  color: #b8aaeb;
}
.temp-very-very-cold a {
  color: #ada0eb;
}
.temp-very-very-cold a:hover {
  color: #fff;
}
.temp-extreme-cold {
  background-color: #819;
  color: #fef;
}
.temp-extreme-cold .global-head {
  background-color: #6d0e7a;
}
.temp-extreme-cold .global-head input,
.temp-extreme-cold .global-head button {
  background-color: #819;
  color: #fef;
}
.temp-extreme-cold .global-head input:focus,
.temp-extreme-cold .global-head button:focus {
  box-shadow: 0 0 0 4px #9613a8;
}
.temp-extreme-cold .global-head input:focus {
  background-color: #fff;
  color: #444;
}
.temp-extreme-cold .global-head button:hover {
  background-color: #be18d6;
}
.temp-extreme-cold footer {
  color: #cf96d6;
}
.temp-extreme-cold a {
  color: #cf8bd6;
}
.temp-extreme-cold a:hover {
  color: #fff;
}
