html, body
  font-family: sans-serif
  margin: 0
  padding: 0

h1
  font-size: 1.5rem

  @media (min-width: 400px)
    font-size: 2rem

a
  text-decoration: none

  &:hover,
  &:focus
    text-decoration: underline

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
  -webkit-appearance: none
  margin: 0

.fixed
  margin-left: auto
  margin-right: auto
  max-width: 800px
  width: 92%

  @media (min-width: 400px)
    width: 80%

.d-flex
  display: flex

.v-center
  align-items: center

.ml-auto
  margin-left: auto

.items-center
  justify-content: center

.text-center
  text-align: center

// app-specific

.global-head
  transition: all 300ms
  input,
  button
    border: 0
    border-radius: 2px
    font-size: 0.8rem
    line-height: 2rem
    margin-left: 6px
    padding: 0 6px
    transition: all 300ms

    @media (min-width: 400px)
      font-size: 0.9rem
      margin-left: 10px
      padding: 0 10px

    &:focus
      outline: none

  input
    width: 55px

    @media (min-width: 400px)
      width: 60px

  button
    cursor: pointer
    min-width: 30px
    text-align: center

footer
  font-size: 0.8rem
  transition: all 300ms

// layout
.weather-app
  display: flex
  flex-direction: column
  min-height: 100vh
  transition: all 300ms

.app-body
  flex: 1

  .fa
    font-size: 4.5rem

.app-body-content
  align-items: baseline

  .wi
    font-size: 4rem
    margin-right: 15px


  h3
    font-size: 2rem
    margin: 0

// colors
tempcolor($name, $bg, $c)
  .temp-{$name}
    background-color: $bg
    color: $c
    .global-head
      background-color: darken($bg, 20%)

      input,
      button
        background-color $bg
        color: $c

        &:focus
          box-shadow: 0 0 0 4px lighten($bg, 5%)

      input:focus
        background-color: #fff
        color: #444

      button:hover
        background-color: lighten($bg, 20%)

    footer
      color: blend(rgba($c, 0.5), $bg)
    a
      color: blend(rgba($c, 0.8), $bg)
      &:hover
        color: #fff

tempcolor("unknown", #5a5a5f, #eef)
tempcolor("extreme-hot", #610, #fee)
tempcolor("very-hot", #a32, #fee)
tempcolor("hot", #b42, #ffe)
tempcolor("warm", #e94, #ffe)
tempcolor("med", #cc5, #ffd)
tempcolor("cool", #9cb, #eff)
tempcolor("cold", #8cd, #eff)
tempcolor("very-cold", #3af, #eef)
tempcolor("very-very-cold", #a9d, #fef)
tempcolor("extreme-cold", #819, #fef)

